<div>
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; ">
        <li style="display: inline; float: left;">
            <a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Android</a>
        </li>
        <li style="display: inline; float: left;">
            <a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Cordova</a>
        </li>
        <li style="display: inline; float: left;">
            <a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Python</a>
        </li>
        <li style="display: inline; float: left;">
            <a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Unity</a>
        </li>
    </ul>
</div>
